body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

/* Banner */
.banner {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
    text-align: center;
    padding: 50px;
}

/* Navbar */
nav {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-image: url('bubble2.jpg');
    opacity: 80%;
}
.card2{
  border: 2px solid #ccc;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-image: url('blue.jpg');
}

#button{
    border-radius: 5px;
    background-color: rgb(187, 211, 187);
    padding: 5px;
    color: rgb(131, 67, 25);
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Input Field */
.input-container {
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 800px) {
    .card {
        width: 100%;
    }
}